<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error...</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/error.css/">
</head>
<body>
<header th:replace="fragments/navbar">
</header>
<section class="container">
<h1 class="align-content-lg-center" style="color: #fff3cd">Something went wrong! </h1>
<h2 class="align-content-lg-center" style="color: #fff3cd">Page Not Found</h2>
<a class="align-content-lg-center" href="/">Go Back</a>
</section>
</body>
<footer class="container text-white">
    <p>&copy;SoftUni Spring Team 2021. All rights reserved.</p>
</footer>
</html>